.row.justify-content-center
  .col-md-6
    %h2.text-center.mb-3 読み聞かせ記録作成

    = render 'families/libraries/library_books/reading_logs/form', family: @family, library: @family.family_library, book: @book, reading_log: @reading_log
