.row.mt-5
  .col-md-5
    = image_tag google_book_thumbnail(@google_book), class: 'image--preview'

  .col-md-7
    %table.table.table-bordered.w-100
      %tbody
        %tr
          %th.text-center.w-25 タイトル
          %td= @google_book['volumeInfo']['title']
        %tr
          %th.text-center.w-25 著者
          %td= @google_book['volumeInfo']['authors']&.join(', ').presence || '情報なし'
        %tr
          %th.text-center.w-25 出版日
          %td= @google_book['volumeInfo']['publishedDate'].presence || '情報なし'

