%p
  こんにちは、
  = @resource.email
  さん

%p 以下のリンクからパスワードの再設定ができます。

%p
  = link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token)

%p このメールに心当たりがない場合は、無視してください。

%p 上記リンクにアクセスし、新しいパスワードを作成するまで、パスワードは変更されません。
